@import "tailwindcss";

@theme {
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Montserrat', sans-serif;

    --color-vatsak-red: #7b002c;
    --color-vatsak-gold: #c5a059;
    --color-vatsak-light: #F9F4EE;
    --color-vatsak-accent: #D39A5E;
}

@layer base {
    body {
        background-color: var(--color-vatsak-light);
        color: #1a1a1a;
    }
}