@import "tailwindcss";

@theme {
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Montserrat', sans-serif;

    --color-antreme-red: #A0153E;
    --color-antreme-gold: #FFD700;
    --color-antreme-light: #F8F3EE;
    --color-antreme-accent: #D39A5E;
}

@layer base {
    body {
        background-color: var(--color-antreme-light);
        color: #1a1a1a;
    }
}
