@import "tailwindcss";

@theme {
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Montserrat', sans-serif;

    --color-vatsak-red: #A0153E;
    --color-vatsak-gold: #FFD700;
    --color-vatsak-light: #FDFBF7;
    --color-vatsak-accent: #D39A5E;
}

@layer base {
    body {
        background-color: var(--color-vatsak-light);
        color: #1a1a1a;
    }
}